extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.team-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Nuestros Clientes
            ul
              li
                a(href='index.html') Inicio
              li
                span -
              li
                span Empresas
  // TEAM SECTION START
  section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Clientes
          h2 NUESTROS CLIENTES
          span.spliter
    .portfolio-wrapper
      .portfolio-list.grid
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/mini_nortel.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle  
                      .title NORTEL
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/mini_samsung.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SAMSUNG
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/mini_polycom.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title POLYCOM
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/plantonics.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title PLANTONICS
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/amp.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title amp
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/controlpbx.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title CONTROLPBX
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/zycoo.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ZYCOO
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/erico.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ERICO
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/indeco.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title INDECO
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/bticino.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title BTICINO
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/carrier.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title CARRIER
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/lennox.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title LENNOX
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/york.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title YORK
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/hikvision.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title HIKVISION
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/alhua.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ALHUA
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/yealink.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title YEALINK
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/yeastar.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title YEASTAR    
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/intelbras.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title INTELBRAS               

    .clearfix
